.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordButton {
  padding-top: 24px;
}

.instructions {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 16px;
}
