@value primary, secondary from 'universal/styles/colors.css';
@value maxWidth from 'universal/styles/layout.css';


.header {
  background-image: url('./paddleboard.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 700px;

}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  padding-top: 50px;
  font-weight: 500;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .9);
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
}

.tryButton {
  padding-top: 24px;
}
