@value primary, secondary from '../../styles/colors.css';
@value maxWidth from '../../styles/layout.css';


.header {
  background: secondary;
  color: #fff;

}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: maxWidth;
}

.brand {
  color: primary;
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
