@value primary, secondary from 'universal/styles/colors.css';

.lane {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.header {
  overflow: auto;
  color: #fff;
  background-color: secondary;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.addNote {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0.5em;
}

.addNote button {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  color: #000;
}

.delete {
  display: flex;
  align-self: flex-end;
  background: magenta;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  justify-content: center;
  font-size: .8em;
  line-height: 1em;
  cursor: pointer;
}
