@value colors: '../../styles/colors.css';
@value primary, secondary from colors;

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  padding-top: 24px;
}

.lostPassword {
  margin-top: 16px;
  font-size: .8em;
  align-self: flex-end;
  text-decoration: none;
  font-weight: 500;
  color: primary;
}
