@value primary, secondary from 'universal/styles/colors.css';

.nav {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: secondary !important;
}

.menuButtons {
  display: flex;
  align-items: center;
  /*font-weight: 700;*/
}

.buttonBuffer {
  padding: 8px;
}
.menuButton {
  font-weight: 500 !important;
  color: primary !important;
}
.brand {
  color: primary;
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}
